
.div1{
    float: left;
    width: 50%;
    box-sizing: border-box;
    border: 5px solid red;
    
}

.div2{
    float:left;
    width: 50%;
    box-sizing: border-box;
    border: 5px solid blue;
    
}